@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

@media screen and (max-width: 1005px) and (min-width: 300px) {

    .navbar {

        position: relative;
    }

    .borda {

        width: 100%;
    }

    .topo {

        margin: 0;
        text-align: center;
    }

    .menu {

        float: left;
    }

    .menu ul li a {

        flex: auto;
        display: inline-block;
        position: relative;
        justify-content: center;
        padding: 5px;
    }
}